@page "/add-tbl-priem"
@layout MainLayout
@inherits Bssr.Pages.AddTblPriemComponent

@using Radzen
@using Radzen.Blazor
@using Bssr.Models.Bssr4
@inject Microsoft.Extensions.Localization.IStringLocalizer<AddTblPriem> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@tblpriem" Visible="@(tblpriem != null)" TItem="Bssr.Models.Bssr4.TblPriem" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Priem Broj" Component="PriemBroj" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(tblpriem.PriemBroj)" Name="PriemBroj">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="PriemBroj" Text="PriemBroj is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Priem Datum" Component="PriemDatum" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@(tblpriem.PriemDatum)" Name="PriemDatum">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="PriemDatum" Text="PriemDatum is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tbl Partneri" Component="tblPartnerID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getTblPartnerisFortblPartnerIDResult" TextProperty="Sifra" ValueProperty="ID" Placeholder="Choose TblPartneri" ShowSearch="false" style="display: block; width: 100%" @bind-Value="@(tblpriem.tblPartnerID)" Name="TblPartnerID">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="TblPartnerID" Text="tblPartnerID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tbl User Id" Component="tblUserID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(tblpriem.tblUserID)" Name="TblUserID">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="TblUserID" Text="tblUserID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Objekt Id" Component="ObjektID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(tblpriem.ObjektID)" Name="ObjektID">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="ObjektID" Text="ObjektID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Ispratnica Faktura Broj" Component="IspratnicaFakturaBroj" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="width: 100%" @bind-Value="@(tblpriem.IspratnicaFakturaBroj)" Name="IspratnicaFakturaBroj">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Ispratnica Faktura Datum" Component="IspratnicaFakturaDatum" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@(tblpriem.IspratnicaFakturaDatum)" Name="IspratnicaFakturaDatum">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Valuta Denovi" Component="ValutaDenovi" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblpriem.ValutaDenovi)" Name="ValutaDenovi">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Kalkulacija Broj" Component="KalkulacijaBroj" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblpriem.KalkulacijaBroj)" Name="KalkulacijaBroj">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Zabeleska" Component="Zabeleska" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="width: 100%" @bind-Value="@(tblpriem.Zabeleska)" Name="Zabeleska">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Vkupen Iznos" Component="VkupenIznos" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblpriem.VkupenIznos)" Name="VkupenIznos">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Datum Na Dospeanost" Component="DatumNaDospeanost" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@(tblpriem.DatumNaDospeanost)" Name="DatumNaDospeanost">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Datum Na Kreiranje Na Priem" Component="DatumNaKreiranjeNaPriem" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@(tblpriem.DatumNaKreiranjeNaPriem)" Name="DatumNaKreiranjeNaPriem">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Kod Na Dokument" Component="KodNaDokument" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="70" style="width: 100%" @bind-Value="@(tblpriem.KodNaDokument)" Name="KodNaDokument">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
