@page "/add-tbl-normativ-stavki"
@layout MainLayout
@inherits Bssr.Pages.AddTblNormativStavkiComponent

@using Radzen
@using Radzen.Blazor
@using Bssr.Models.Bssr4
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@tblnormativstavki" Visible="@(tblnormativstavki != null)" TItem="Bssr.Models.Bssr4.TblNormativStavki" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tbl Normativ" Component="tblNormativID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getTblNormativsFortblNormativIDResult" TextProperty="Naziv" ValueProperty="ID" Placeholder="Choose TblNormativ" ShowSearch="false" style="display: block; width: 100%" @bind-Value="@(tblnormativstavki.tblNormativID)" Name="TblNormativID">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="TblNormativID" Text="tblNormativID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tbl Artikal" Component="tblArtikalID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getTblArtikalsFortblArtikalIDResult" TextProperty="Sifra" ValueProperty="ID" Placeholder="Choose TblArtikal" ShowSearch="false" style="display: block; width: 100%" @bind-Value="@(tblnormativstavki.tblArtikalID)" Name="TblArtikalID">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="TblArtikalID" Text="tblArtikalID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Status" Component="Status" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblnormativstavki.Status)" Name="Status">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Kolicina" Component="Kolicina" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(tblnormativstavki.Kolicina)" Name="Kolicina">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Kolicina" Text="Kolicina is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
