@page "/"
@page "/changelog"
@layout MainLayout
@inherits Bssr.Pages.ChangelogComponent

@using Radzen
@using Radzen.Blazor
@using Bssr.Models.Bssr4
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Changelog">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await Load();})">
        </RadzenTextBox>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getChangelogsResult" TItem="Bssr.Models.Bssr4.Changelog" PageSize="20" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.Changelog" Property="change_number" Title="Change Number">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.Changelog" Property="complete_dt" FormatString="{0:MM/dd/yyyy}" Title="Complete Dt">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.Changelog" Property="applied_by" Title="Applied By">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.Changelog" Property="description" Title="Description">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.Changelog" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="bssrModelsBssr4Changelog">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, bssrModelsBssr4Changelog))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
