@page "/tbl-dokument-stavki"
@layout MainLayout
@inherits Bssr.Pages.TblDokumentStavkiComponent

@using Radzen
@using Radzen.Blazor
@using Bssr.Models.Bssr4
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl Dokument Stavki">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await Load();})">
        </RadzenTextBox>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getTblDokumentStavkisResult" TItem="Bssr.Models.Bssr4.TblDokumentStavki" PageSize="20" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblDokumentStavki" Property="ID" Title="ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblDokumentStavki" Property="tblDokumentID" SortProperty="TblDokumenti.Zabeleska" FilterProperty="TblDokumenti.Zabeleska" Title="Tbl Dokumenti">
              <Template Context="data">
              @(data.TblDokumenti?.Zabeleska)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblDokumentStavki" Property="tblArtikalID" Title="Tbl Artikal ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblDokumentStavki" Property="tblNormativID" Title="Tbl Normativ ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblDokumentStavki" Property="Cena" Title="Cena">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblDokumentStavki" Property="Kolicina" Title="Kolicina">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblDokumentStavki" Property="Iznos" Title="Iznos">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblDokumentStavki" Property="Rabat1" Title="Rabat 1">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblDokumentStavki" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="bssrModelsBssr4TblDokumentStavki">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, bssrModelsBssr4TblDokumentStavki))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
