@page "/tbl-naracki"
@layout MainLayout
@inherits Bssr.Pages.TblNarackiComponent

@using Radzen
@using Radzen.Blazor
@using Bssr.Models.Bssr4
@inject Microsoft.Extensions.Localization.IStringLocalizer<TblNaracki> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl Naracki">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await Load();})">
        </RadzenTextBox>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getTblNarackisResult" TItem="Bssr.Models.Bssr4.TblNaracki" PageSize="20" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblNaracki" Property="ID" Title="ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblNaracki" Property="NarackaBroj" Title="Naracka Broj">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblNaracki" Property="Opis" Title="Opis">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblNaracki" Property="DatumNaNaracka" FormatString="{0:MM/dd/yyyy}" Title="Datum Na Naracka">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblNaracki" Property="Ime" Title="Ime">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblNaracki" Property="Kontakt" Title="Kontakt">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblNaracki" Property="OdObjekt" Title="Od Objekt">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblNaracki" Property="Zavrsena" Title="Zavrsena">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblNaracki" Property="KodNaDokument" Title="Kod Na Dokument">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Bssr.Models.Bssr4.TblNaracki" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="bssrModelsBssr4TblNaracki">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, bssrModelsBssr4TblNaracki))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
